#countries{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.country{
    border: 1px solid goldenrod;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    width: 300px;
}
.country h3{
    font-size: 45px;
    color: magenta;
}
#countryDetail{
    width: 300px;
    margin: 0 auto;
    border: 2px solid goldenrod;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
}
#countryDetail img{
    width: 150px;
}